
@{
    ViewBag.Title = "AccessDenied";
}
<div style="text-align:center;">
    <h2>Доступ запрещен!</h2>
    <h3>У Вас нет прав для доступа к этому ресурсу! Если Вам необходим доступ обратитесь к Администратору ресурса!</h3>
</div>
